/* App.css */

/* 전체 앱의 스타일을 설정 */
.App {
  text-align: center;
}

/* 버튼과 이미지 미리보기가 있는 헤더 부분의 스타일을 설정 */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* 버튼의 스타일을 설정 */
.App-button {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 마우스 오버 시 버튼의 배경색 변경 */
.App-button:hover {
  background-color: #4faad8;
}

/* 이미지 미리보기의 스타일을 설정 */
.preview-img {
  width: 28vw;
  height: auto;
  margin-top: 20px;
  border-radius: 5px; /* 이미지에 둥근 모서리를 추가 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

/* 사용자 정의 파일 선택 버튼의 스타일을 설정 */
.App-upload-btn {
  font-size: 1rem;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 마우스 오버 시 사용자 정의 버튼의 배경색 변경 */
.App-upload-btn:hover {
  background-color: #4faad8;
}

/* ... (이전 CSS와 동일) */
